$color-active: #328FA8;
$color-disabled: #808791;

.paginationContainer{
    display: inline-block;

    li {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;

        &.disabled {
            color: $color-disabled;
        }
    }

    li:not(.disabled):not(.paginationBreak) {
        &.active {
            background-color: $color-active;
            color: white;
        }

        &:hover:not(.active) {
            background-color: $color-active;
            color: white;
        }
    }
}